/*=====================
  Базовая типографика
=====================*/

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
       url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
       url("../fonts/proximanova-regular-webfont.woff") format("woff"),
       url("../fonts/proximanova-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


$alegreya-google: "Alegreya", "Times New Roman", serif;
$playfair-google: "Playfair Display", "Times New Roman", serif;
$proxima-embedded: "Proxima Nova", Arial, sans-serif;

body {
  font-family: $proxima-embedded;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: $grey;
  text-transform: none;
}
